@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & button {
        @include Button;
    }
    & button:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    & input {
        @include Input;
    }
}
